<h1>MAIN POINTS</h1>

<h2>user wants to know:</h2>

<p>user comes user sees best photos slideshow that he/she likes</p>
<p>
  the location (from main town, modes of transportation, parking availability)
</p>
<p>the rooms with best views with prices and ameneties with photos</p>
<p>affordable options with prices and ameneties with photos</p>
<p>couple friendly or not</p>
<p>best spots nearby the hotel, why should you stay in our hotel?</p>
<p>Taxi services with rates for various tourist spots in the town</p>
<p>wants to see photo gallery</p>
<p>payment method</p>
<p>cancellation policy and refund policy</p>
